#draftOverlay {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: rgba(127,0,0,0.9);
   z-index: 100;
   visibility: visible;
   /*visibility: hidden*/;
}


#draftOverlay  .fullscreenTable {
   background-color: transparent;
   width: 100%;
   height: 100%;
}

#draftOverlay  .fullscreenTable table {
   line-height: 100%;
   background-color: #DDDD00;
   margin: auto;
   padding: 1em;
}

#draftOverlay  .fullscreenTable table .caption {
   text-align: center;
}

#draftOverlay .fullscreenTable table .buttonRow {
   text-align: center;
}