#shop > #errorOverlay {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(100, 100, 100, 0.8);
   visibility: hidden;
   overflow: auto;
   z-index: 3;
}

#shop > #errorOverlay > #content {
   position: absolute;
   left: 0;
   right: 0;
   top: 2em;
}

#shop > #errorOverlay > #content  button {
    background-color: white;
    border: 1px solid green;
    color: white;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
}
