body {
   width : 100%;
   height : 100%; 
   overflow : hidden;
   background-color : #777;
   font-family: Verdana;
}

#shop {
   position : absolute;
   top : 0.5em;
   left : 0.5em;
   bottom : 0.5em;
   right : 0.5em;
   border-radius : 1em 1em 1em 1em;
   background-color : transparent;
   z-index : 1;
}

#shop > #header {
   position : absolute;
   top : 0;
   left : 0;
   width : 100%;
   height : 11em;
   border-radius : 1em 1em 0 0;
   background-color : #DDDD00;
   font-size : 1em;
   text-align: center;
}

#shop > #content {
   position : absolute;
   top : 11em;
   bottom : 2em;
   left : 0;
   width : 100%;
   border-radius : 0 0 0 0;
   background-color : #eee;
}

#shop > #content > #start {
   position : absolute;
   top : 0;
   bottom : 2em;
   left : 1em;
   right : 1em;
   border-radius : 0 0 0 0;
   background-color : transparent;
   visibility : hidden;
   overflow : auto;
   z-index: 1;
}

#shop > #content > #plants {
   position : absolute;
   top : 0;
   bottom : 2em;
   left : 1em;
   right : 1em;
   border-radius : 0 0 0 0;
   background-color : transparent;
   visibility : hidden;
   overflow : auto;
   z-index: 1;
}

#shop > #content > #accessories {
   position : absolute;
   top : 0;
   bottom : 2em;
   left : 1em;
   right : 1em;
   border-radius : 0 0 0 0;
   background-color : transparent;
   visibility : hidden;
   overflow : auto;
   z-index: 1;
}

#shop > #content > #events {
   position : absolute;
   top : 0;
   bottom : 2em;
   left : 1em;
   right : 1em;
   border-radius : 0 0 0 0;
   background-color : transparent;
   visibility : hidden;
   overflow : auto;
   z-index: 1;
}

#shop > #content > #shipping {
   position : absolute;
   top : 0;
   bottom : 2em;
   left : 1em;
   right : 1em;
   border-radius : 0 0 0 0;
   background-color : transparent;
   visibility : hidden;
   overflow : auto;
   z-index: 1;
}

#shop > #content > #companyDetails {
   position : absolute;
   top : 0;
   bottom : 2em;
   left : 1em;
   right : 1em;
   border-radius : 0 0 0 0;
   background-color : transparent;
   visibility : hidden;
   overflow : auto;
   z-index: 1;
}

#shop > #content > #shoppingCart {
   position : absolute;
   top : 0;
   bottom : 2em;
   left : 1em;
   right : 1em;
   border-radius : 0 0 0 0;
   background-color : transparent;
   visibility : hidden;
   overflow : auto;
   z-index: 1;
}

#shop > #footer {
   position : absolute;
   left : 0;
   bottom : 0;
   width : 100%;
   height : 2em;
   border-radius : 0 0 1em 1em;
   background-color : #AAAAAA;
}

#shop > #footer > #author  {
   text-align : center;
   font-size : 0.5em;
   margin : 1.5em 0 1.5em 0;
}

.validInput {
   background-color : #FFFFFF;
}

.invalidInput {
   background-color : #FF0000;
}

#shop > #header .leftColumn img {
   height : 10em;
   width : 10em;
} 

#shop > #header table {
   width : 100%;
   border: none;
} 

#shop > #header table td{
   border: none;
} 

#shop > #header .centerColumn h1 {
   text-shadow: 2px 2px 5px #555555;
} 

#shop > #header .leftColumn {
   width : 11em;
} 

#shop > #header .rightColumn {
   width : 12em;
} 

#shop > #header button {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#shop > #header button:not(:last-child) {
    border-right: none;
}
#shop > #header button:hover {
    background-color: #3e8e41;
}

#shop > #content > #shoppingCart .removeButton {
    background-color: transparent;
    color: white;
    border: none;
    display: inline-block;
    cursor: pointer;
    height: 24px;
}

#shop #content .alternierendeZeilenFarbe tr:nth-child(even) {background-color:#EEEEEE;}
#shop #content .alternierendeZeilenFarbe tr:nth-child(odd) {background-color:#DDDDDD;}

#shop #content .ersteSpalteZentriert td:first-child { text-align:center }
#shop #content .dritteSpalteZentriert td:nth-child(3) { text-align:center }
#shop #content .ersterParagraphInZweiterSpalteFett td:nth-child(2) p:first-child { font-weight:bold }

#shop #content table {margin-left:auto; margin-right:auto; border-collapse: collapse; border: 1px solid #666666; background-color:#DDDDDD;}
#shop #content table tr:first-child {border-bottom-style: double;}
#shop #content table caption { text-align:center; padding:0.5em;}
#shop #content th { padding:0.5em; border: 1px solid #666666; font-weight:normal; background-color:white; text-align:center;}
#shop #content td { padding:0.5em; border: 1px solid #666666; }

#shop #content .ohneRahmen { border: none; }
#shop #content .ohneRahmen tr td { border: none; }
#shop #content .ohneRahmen tr:first-child {border-bottom-style: none;}
#shop #content .transparent { background-color:transparent; }
#shop #content .ohneUeberschriften tr:first-child {border-bottom-style: none;}
#shop #content .rechtsAusgerichteterText { text-align:right; }
#shop #content .zentrierterText { text-align:center; }
#shop #content .figcaption {text-align:center;}