body {
   width : 100%;
   height : 100%; 
   overflow : hidden;
   background-color : #777;
   font-family: Verdana;
}

#shop {
   position : absolute;
   top : 0.5em;
   left : 0.5em;
   bottom : 0.5em;
   right : 0.5em;
   border-radius : 1em 1em 1em 1em;
   background-color : transparent;
   z-index : 1;
}

#shop > #header {
   position : absolute;
   top : 0;
   left : 0;
   width : 100%;
   height : 4em;
   border-radius : 1em 1em 0 0;
   background-color : #00FF00;
   font-size : 1em;
   line-height: 4em;
   text-align: center;
}

#shop > #menu {
   position : absolute;
   top : 4em;
   left : 0;
   width : 100%;
   height : 3em;
   border-radius : 0 0 0 0;
   background-color : #AAAAAA;
   font-size : 1em;
   line-height: 3em;
   text-align: center;
}

#shop > #content {
   position : absolute;
   top : 7em;
   left : 0;
   bottom : 2em;
   width : 100%;
   border-radius : 0 0 0 0;
   background-color : #DDDDDD;
}

#shop > #content > #start {
   position : absolute;
   top : 0;
   left : 0;
   bottom : 2em;
   width : 100%;
   border-radius : 0 0 0 0;
   background-color : transparent;
   visibility : hidden;
   z-index: 1;
}

#shop > #content > #plants {
   position : absolute;
   top : 0;
   left : 0;
   bottom : 2em;
   width : 100%;
   border-radius : 0 0 0 0;
   background-color : transparent;
   visibility : hidden;
   z-index: 1;
}

#shop > #content > #accessories {
   position : absolute;
   top : 0;
   left : 0;
   bottom : 2em;
   width : 100%;
   border-radius : 0 0 0 0;
   background-color : transparent;
   visibility : hidden;
   z-index: 1;
}

#shop > #content > #shipping {
   position : absolute;
   top : 0;
   left : 0;
   bottom : 2em;
   width : 100%;
   border-radius : 0 0 0 0;
   background-color : transparent;
   visibility : hidden;
   z-index: 1;
}

#shop > #content > #companyDetails {
   position : absolute;
   top : 0;
   left : 0;
   bottom : 2em;
   width : 100%;
   border-radius : 0 0 0 0;
   background-color : transparent;
   visibility : hidden;
   z-index: 1;
}

#shop > #content > #shoppingCart {
   position : absolute;
   top : 0;
   left : 0;
   bottom : 2em;
   width : 100%;
   border-radius : 0 0 0 0;
   background-color : transparent;
   visibility : hidden;
   z-index: 1;
}

#shop > #content > #picture {
   position : absolute;
   top : 0;
   left : 0;
   bottom : 2em;
   width : 100%;
   border-radius : 0 0 0 0;
   background-color : #FF0000;
   visibility : hidden;
   z-index: 2;
}

#shop > #footer {
   position : absolute;
   left : 0;
   bottom : 0;
   width : 100%;
   height : 2em;
   border-radius : 0 0 1em 1em;
   background-color : #AAAAAA;
}

#shop > #footer > #author  {
   text-align : center;
   font-size : 0.5em;
   margin : 1.5em 0 1.5em 0;
}
