<script>

   function MailTo()
   {
      Feld= new Array("108", "111", "116", "116", "101", "64", "111", "114", "99", "104", "105", "100", "101", "101", "110", "118", "101", "114", "109", "101", "104", "114", "117", "110", "103", "46", "97", "116");
      email="mailto:";

      for(i=0;i<Feld.length;i++)
      {
         email=email+String.fromCharCode(Feld[i]);	
      }
      window.location.href=email;
   }

</script>

<h2>Impressum</h2>

<p>Unser Labor befindet sich ca. 30 Minuten von Wien entfernt in Neusiedl am See.</p>

<table width="100%" class="ohneRahmen transparent ohneUeberschriften">
<tr>
  <td>Gartensiedlung 16<br>7100 Neusiedl am See<br>Österreich</td>
  <td>
     <a href="http://firmen.wko.at/Web/DetailsKontakt.aspx?FirmaID=373fc5a4-43b7-46ff-af55-e2e810820ec9&StandortID=0&Suchbegriff=ederer+lotte&Page=1" target="_blank"><img src="/images/impressum/ecg.gif" border="0"></a>
  </td>
</tr>
</table>

<p>Telefon: +43 677 624 28400</p>

<br>
<a name="email" href="javascript:MailTo()">eine EMail an uns schicken</a>

<p>Besuche sind herzlich willkommen. Bitte vorher einen Termin vereinbaren da wir kein Verkaufslokal haben und nicht immer jemand im Labor anwesend ist.</p> 

<p>Mehr Infos über uns gibt es auch bei der <a href="http://firmena-z.wko.at/ecg.asp?mgid=A85E21EE4C6BD7403B01B2DBC73E1A88" target="_blank">Wirtschaftskammer</a>.</p>

<p>Mitglied der Wirtschaftskammer Burgenland</p>

<p>Firmenbuch: Berzirkshauptmannschaft Neusiedl am See; FN 1800183</p>

