<h2>Jungpflanzen</h2>
<p>
Die Jungpflanzen werden von uns vor dem Verschicken aus dem in vitro Gefäß geholt und vom Nährboden gereinigt. 
Wir verschicken nur innerhalb der EU!
</p>

<h3>Die Vorteile dieser Versandmethode:</h3>

<ul>
   <li>schonend für die Pflanzen</li>
   <li>geringes Gewicht und daher niedrigere Versandkosten</li>
</ul>

<center>
   <img src="/images/pflanzen/quality_sample.jpg" height="400px" alt="Qualitätsbeispiel">
   <p>Qualitätsbeispiel</p>
</center>

<p>Eine Pflegeanleitung für Jungpflanzen gibt es <a href="http://www.orchideenvermehrung.at/aussaat/asymbiotisch/eintopfen.htm" target="_blank">hier</a>.</p>

<p>Die Mindestbestellmenge pro Art liegt bei 5 Pflanzen.</p>

<!--DYNAMIC_CONTENT-->
