<h2>Herzlich willkommen im Webshop unseres Orchideenlabors.</h2>

<p>
Wir vermehren tropische Orchideen in vitro über Samen und Teilstücke. Die dabei entstehenden Jungpflanzen und das zur Aufzucht nötig Zubehör sind in diesem Shop erhältlich.
</p>

<table class="ohneRahmen transparent ohneUeberschriften">
   <tr>
      <td>
         <img src="/images/start/labor1.jpg">
      </td>
      <td style="vertical-align:middle">
      
         <table align="center" class="ohneRahmen" style="background-color:#DDDD00">
            <tr>
               <td class="zentrierterText" style="font-weight:bold">
                  <p>Herbstangebot!</p>
                  <p>Einsteigerset jetzt auch mit Phalaenopsis amboinensis, Phalaenopsis pulcherrima und Phalaenopsis venosa erhältlich!</p>
                  <table align="center" class="ohneRahmen" style="background-color:transparent">
                     <tr>
                        <td align="left">
                           <ul>
                              <li>5 Sämlinge einer Art</li>
                              <li>2 Liter hochwertiges Orchideensubstrat</li>
                              <li>ein transparenter Orchideentopf 15 cm</li>
                              <li>Beschreibung</li>
                           </ul>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <td class="zentrierterText" style="font-weight:bold">
                  <p>Nur 12 EUR!</p>
                  <p>(Gültig bis Ende Oktober und solange der Vorrat reicht)</p>
               </td>
            </tr>
         </table>
      
      </td>
   </tr>
   <tr>
      <td><p class="figcaption">unser Labor</p></td>
      <td>&nbsp;</td>
   </tr>
</table>


