   <table class="fullscreenTable">
      <tr>
         <td>

            <table>
               <tr>
                  <td class="caption"><h2>Die Bestellung wurde erfolgreich verschickt.</h2></td>
               </tr>
               <tr>
                  <td align="center">
                     <button onclick="shop.ui.Actions.hideOverlay('#shop > #successOverlay')">
                        <img src="images/ok.svg">
                     </button>
                  </td>
               </tr>
            </table>

         </td>
      </tr>
   </table>   
</div>