<h2>Versandbedingungen</h2>

<p>Wir versenden standardmäßig die Pakete als "Brief", weil so das Preis/Leistungverhältnis am besten ist. In der Regel liegen die Lieferzeiten innerhalb Österreichs bei 2-3 Tagen und zu allen anderen EU-Staaten bei 3-4 Tagen.</p>

<table align="center">
	<caption>Versandkosten</caption>
	<tr>
	   <th>innerhalb Österreich</th>
	   <th>alle anderen EU Staaten</th>
	</tr>
	<tr>
	   <td class="zentrierterText">4,60 &euro;</td>
	   <td class="zentrierterText">11,25 &euro;</td>
	</tr>
</table>

<p>In Österreich ist auch ein Versand innerhalb von 24 Stunden (mit EMS) zum Preis von 9 &euro; möglich !</p>

<p>Ab einer Bestellsumme von 100 &euro; erfolgt der Versand kostenlos. Innerhalb Österreichs ist der Versand bereits ab 50 &euro; kostenlos.</p>

<p>Auf Wunsch verwenden wir auch gerne andere Zustelldienste (z.B. EMS, ...), wobei die zusätzlichen Kosten der Käufer trägt. Hier geht's zum <a href="http://www.post.at/Tarifrechner" target="_blank">Tarifrechner</a> der österreichischen Post.</p>

<p>Weiters besteht die Möglichkeit unser Labor in Neusiedl am See nach Vereinbarung eines Termins zu besuchen. Bei Interesse schicken wir gerne die Liste aller unserer in vitro Kulturen (rund 200 Arten) zu.</p>

<center>
  <img src="/images/versandbedingungen/labor1.jpg" alt="unser Labor">
  <img src="/images/versandbedingungen/labor2.jpg" alt="unser Labor">
  <img src="/images/versandbedingungen/invitro1.jpg" alt="unser Labor">
  <img src="/images/versandbedingungen/invitro2.jpg" alt="unser Labor">
  <p class="figcaption">unser Labor</p>
</center>

<p>Wir akzeptieren folgende Zahlungsarten:</p>

<ul>
  <li>EU Binnenzahlung (IBAN & BIC)</li>
  <li><a href="http://www.paypal.at" target="blank">Paypal</a> (auch mit Kreditkarte)</li>
</ul>

<p>Da unser Betrieb unter die Kleinunternehmerregelung fällt, enthalten unsere Preise keine Umsatzsteuer.</p>
