<h2>Warenkorb</h2>

<div id="shoppingCartContent"></div>

<p>Um die Versandkosten und die Gesamtkosten anzeigen zu können, benötigen wir das Zielland.</p>

<select id="countryOfDestination" size="1" onChange="shop.ui.Actions.changeCountryOfDestination()">
   <option value="nothing" selected>bitte Zielland auswählen ...</option>
   <option value="BE">Belgien</option>
   <option value="BG">Bulgarien</option>
   <option value="DK">Dänemark</option>
   <option value="DE">Deutschland</option>
   <option value="EE">Estland</option>
   <option value="FI">Finnland</option>
   <option value="FR">Frankreich</option>
   <option value="GR">Griechenland</option>
   <option value="IE">Irland</option>
   <option value="IT">Italien</option>
   <option value="HR">Kroatien</option>
   <option value="LV">Lettland</option>
   <option value="LT">Litauen</option>
   <option value="LU">Luxemburg</option>
   <option value="MT">Malta</option>
   <option value="NL">Niederlande</option>
   <option value="AT">Österreich</option>
   <option value="PL">Polen</option>
   <option value="PT">Portugal</option>
   <option value="RO">Rumänien</option>
   <option value="SE">Schweden</option>
   <option value="SK">Slowakei</option>
   <option value="SI">Slowenien</option>
   <option value="ES">Spanien</option>
   <option value="CZ">Tschechien</option>
   <option value="HU">Ungarn</option>
   <option value="GB">Vereinigtes Königreich</option>
   <option value="CY">Zypern</option>
</select>