<h2>Warenkorb</h2>

<div id="shoppingCartContent"></div>

<p>Um die Versand- und Gesamtkosten anzeigen zu können, benötigen wir das Zielland.</p>

<table class="ohneRahmen">
   <tr>
      <td><p>Zielland:</p></td>
      <td>
         <select id="countryOfDestination" size="1" onChange="shop.ui.Actions.changeCountryOfDestination()">
            <option value="nothing" selected>bitte Zielland auswählen ...</option>
            <option value="BE">Belgien</option>
            <option value="BG">Bulgarien</option>
            <option value="DK">Dänemark</option>
            <option value="DE">Deutschland</option>
            <option value="EE">Estland</option>
            <option value="FI">Finnland</option>
            <option value="FR">Frankreich</option>
            <option value="GR">Griechenland</option>
            <option value="IE">Irland</option>
            <option value="IT">Italien</option>
            <option value="HR">Kroatien</option>
            <option value="LV">Lettland</option>
            <option value="LT">Litauen</option>
            <option value="LU">Luxemburg</option>
            <option value="MT">Malta</option>
            <option value="NL">Niederlande</option>
            <option value="AT">Österreich</option>
            <option value="PL">Polen</option>
            <option value="PT">Portugal</option>
            <option value="RO">Rumänien</option>
            <option value="SE">Schweden</option>
            <option value="SK">Slowakei</option>
            <option value="SI">Slowenien</option>
            <option value="ES">Spanien</option>
            <option value="CZ">Tschechien</option>
            <option value="HU">Ungarn</option>
            <option value="GB">Vereinigtes Königreich</option>
            <option value="CY">Zypern</option>
         </select>
      </td>
   </tr>
</table>

<p>
Um eine Bestellung abzuschicken, bitte Vor- und Nachname sowie Ihre EMail-Adresse eingeben und danach auf den Knopf "Bestellung abschicken" klicken.
</p>

<table class="ohneRahmen">
   <tr>
      <td><p>Vorname:</p></td>
      <td><input id="firstname" value="" size="40" type="text" onchange="shop.ui.Actions.orderFormElementChanged('firstname')" onkeyup="shop.ui.Actions.orderFormElementChanged('firstname')"></td>
   </tr>
   <tr>
      <td><p>Nachname:</p></td>
      <td><input id="lastname" value="" size="40" type="text" onchange="shop.ui.Actions.orderFormElementChanged('lastname')" onkeyup="shop.ui.Actions.orderFormElementChanged('lastname')"></td>
   </tr>
   <tr>
      <td><p>EMail:</p></td>
      <td><input id="email" value="" size="40" type="text" onchange="shop.ui.Actions.orderFormElementChanged('email')" onkeyup="shop.ui.Actions.orderFormElementChanged('email')"></td>
   </tr>
   <tr>
      <td><p>Kommentar (optional):</p></td>
      <td><textarea id="comment" rows="5" cols="30" onchange="shop.ui.Actions.orderFormElementChanged('comment')" onkeyup="shop.ui.Actions.orderFormElementChanged('comment')"></textarea></td>
   </tr>
</table>

<br>
<center>
   <button type="button" id="submitButton" onclick="shop.ui.Actions.submitOrder()" disabled>Bestellung abschicken</button>
</center>
