<script>

   function MailTo()
   {
      Feld= new Array("108", "111", "116", "116", "101", "64", "111", "114", "99", "104", "105", "100", "101", "101", "110", "118", "101", "114", "109", "101", "104", "114", "117", "110", "103", "46", "97", "116");
      email="mailto:";

      for(i=0;i<Feld.length;i++)
      {
         email=email+String.fromCharCode(Feld[i]);	
      }
      window.location.href=email;
   }

</script>

<h2>Company details</h2>

<p>Our lab is located in Neusiedl am See which is about 30 minutes away from Vienna.</p>

<table width="100%" class="ohneRahmen transparent ohneUeberschriften">
<tr>
  <td>Gartensiedlung 16<br>7100 Neusiedl am See<br>Austria</td>
  <td>
     <a href="http://firmena-z.wko.at/ecg.asp?mgid=A85E21EE4C6BD7403B01B2DBC73E1A88" target="_blank"><img src="/images/impressum/ecg.gif" border=0></a>
  </td>
</tr>
</table>

<p>Phone: +43 677 624 28400</p>

<a name="email" href="javascript:MailTo()">send us an EMail</a>

<p>Visitors are welcome. Please make an appointment with us because we do not have a salesroom and we are not always in the lab.</p> 
