<h2>seedlings for sale</h2>
<p>
Before sending out the seedlings we take them out of their flasks and remove the media. 
This is the softest way to transport them and it reduces the weight of the package a lot. 
We sell our plant only within the EU !
</p>

<h3>Advantages of this shipping method:</h3>

<ul>
   <li>save for the plants</li>
   <li>low weight reduces the shipping costs</li>
</ul>

<center>
   <img src="images/pflanzen/quality_sample.jpg" height="400px" alt="quality example">
   <p>quality sample</p>
</center>

<p>Our deflasking manual is available <a href="http://www.orchideenvermehrung.at/english/seed%20germination/asymbiotic/deflasking%20seedlings.htm" target="_blank">here</a>.</p>

<p>The minimum order quantity per species are 5 seedlings.</p>

<!--DYNAMIC_CONTENT-->

