<h2>Welcome to the webshop of our orchid lab.</h2>

<p>We propagate tropical orchids in vitro via seeds and tissue culture. The resulting seedlings and the necessary accessories for growing them are available in this shop.</p>

<table class="ohneRahmen transparent ohneUeberschriften">
   <tr>
      <td>
         <img src="/images/start/labor1.jpg">
      </td>
      <td style="vertical-align:middle">
      
         <table align="center" class="ohneRahmen" style="background-color:#DDDD00">
            <tr>
               <td class="zentrierterText" style="font-weight:bold">
                  <p>Special offer!</p>
                  <p>Starter set now available with Phalaenopsis amboinensis, Phalaenopsis pulcherrima and Phalaenopsis venosa!</p>
                  <ul>
                     <li>5 seedlings of one of the species listed above</li>
                     <li>2L potting mix</li>
                     <li>1 transparent pot 15cm</li>
                     <li>deflasking manual</li>
                  </ul>
               </td>
            </tr>
            <tr>
               <td class="zentrierterText" style="font-weight:bold">
                  <p>Only 12 EUR!</p>
                  <p>(Valid until the end of October and while stock lasts)</p>
               </td>
            </tr>
         </table>
      
      </td>
   </tr>
   <tr>
      <td><p class="figcaption">our lab</p></td>
      <td>&nbsp;</td>
   </tr>
</table>


