<h2>shipping details</h2>

<p>By default we send out the parcels as a "letter" because it´s cheap and fast. Normally the plants arrive at the customers site within 3-4 days.</p>

<table align="center">
   <caption>costs for shipping</caption>
   <tr>
      <th>within Austria</th>
      <th>all other EU countries</th>
   </tr>
   <tr>
      <td class="zentrierterText">4,60 &euro;</td>
      <td class="zentrierterText">11,25 &euro;</td>
   </tr>
</table>

<p>Shipping is free when your order is 100 &euro; or higher. Within Austrian shipping is already for free when you order is 50 &euro; or higher.</p>

<p>If you wish, we can send the parcel out by using an other shipping methode (e.g. EMS, ...). The addination costs will be added to your invoice.</p>

<p>You can also visit our lab which is located in Neusiedl am See. Please make an appointment because our lab is not a salesroom with regular opening hours.</p>

<center>
	<img src="images/versandbedingungen/labor1.jpg" alt="our lab">
   <img src="images/versandbedingungen/labor2.jpg" alt="our lab">
   <img src="images/versandbedingungen/invitro1.jpg" alt="our lab">
   <img src="images/versandbedingungen/invitro2.jpg" alt="our lab">
	<p class="figcaption">our lab</p>
</center>

<p>We accept the EU crossborder payment (IBAN & BIC) and <a href="http://www.paypal.com" target="_blank">www.paypal.com</a>.</p>
