<h2>shopping cart</h2>

<div id="shoppingCartContent"></div>

<p>Please select your country to get the shipping and total costs displayed.</p>

<table class="ohneRahmen">
   <tr>
      <td><p>country of destination:</p></td>
      <td>
         <select id="countryOfDestination" size="1" onChange="shop.ui.Actions.changeCountryOfDestination()">
            <option value="nothing" selected>please select your country ...</option>
            <option value="AT">Austria</option>
            <option value="BE">Belgium</option>
            <option value="BG">Bulgaria</option>
            <option value="CZ">Czech Republic</option>
            <option value="HR">Croatia</option>
            <option value="CY">Cyprus</option>
            <option value="DK">Denmark</option>
            <option value="EE">Estonia</option>
            <option value="FI">Finland</option>
            <option value="FR">France</option>
            <option value="DE">Germany</option>
            <option value="GR">Greece</option>
            <option value="HU">Hungary</option>
            <option value="IE">Ireland</option>
            <option value="IT">Italy</option>
            <option value="LV">Latvia</option>
            <option value="LT">Lithuania</option>
            <option value="LU">Luxembourg</option>
            <option value="MT">Malta</option>
            <option value="NL">Netherlands</option>
            <option value="PL">Poland</option>
            <option value="PT">Portugal</option>
            <option value="RO">Romania</option>
            <option value="SK">Slovakia</option>
            <option value="SI">Slovenia</option>
            <option value="ES">Spain</option>
            <option value="SE">Sweden</option>
            <option value="GB">United Kingdom</option>
         </select>
      </td>
   </tr>
</table>

<p>
To place an order, please enter your firstname, lastname and email address and then click on the "order now" button.
</p>

<table class="ohneRahmen">
   <tr>
      <td><p>firstname:</p></td>
      <td><input id="firstname" value="" size="40" type="text" onchange="shop.ui.Actions.orderFormElementChanged('firstname')" onkeyup="shop.ui.Actions.orderFormElementChanged('firstname')"></td>
   </tr>
   <tr>
      <td><p>lastname:</p></td>
      <td><input id="lastname" value="" size="40" type="text" onchange="shop.ui.Actions.orderFormElementChanged('lastname')" onkeyup="shop.ui.Actions.orderFormElementChanged('lastname')"></td>
   </tr>
   <tr>
      <td><p>email:</p></td>
      <td><input id="email" value="" size="40" type="text" onchange="shop.ui.Actions.orderFormElementChanged('email')" onkeyup="shop.ui.Actions.orderFormElementChanged('email')"></td>
   </tr>
   <tr>
      <td><p>comment (optional):</p></td>
      <td><textarea id="comment" rows="5" cols="30" onchange="shop.ui.Actions.orderFormElementChanged('comment')" onkeyup="shop.ui.Actions.orderFormElementChanged('comment')"></textarea></td>
   </tr>
</table>

<br>
<center>
   <button type="button" id="submitButton" onclick="shop.ui.Actions.submitOrder()" disabled>order now</button>
</center>
